<div data-sly-use.template="core/wcm/components/commons/v1/templates.html"
     data-sly-use.informationpanel="comd.adobe.aem.kamil.core.models.InformationPanelModel"
     class="container">
    <div class="row" data-sly-list.element="${informationpanel.tileItems}">
        <div class="column">
            <img src="${element.thumbnailSource}" alt="${element.pageUrl}" onclick="buildUrl(this)">
            <kbd>NEWS!</kbd>
            <p><b>${element.pageTitle}</b><br>
                ${element.pageDescription}
            </p>
        </div>
    </div>
</div>
<div class="container">
</div>
<sly data-sly-call="${template.placeholder @ isEmpty=informationpanel.empty}"></sly>
