<div data-sly-use.nasa="comd.adobe.aem.kamil.core.models.NasaComponentModel"
     class="container">
    <h2>${nasa.componentTitle}</h2>
    <div class="row">
        <div class="col-sm-4">
            <figure>
                <img src="${nasa.nasaRandomAnomaly.url}" alt="..." class="img-fluid rounded float-left">
            </figure>
        </div>
        <div class="col-sm-8">
            <div class="my-header">
                <h3>${nasa.nasaRandomAnomaly.title}</h3>
            </div>
            <p>${nasa.nasaRandomAnomaly.explanation}</p>
        </div>
    </div>
</div>
